$purple: #72264D;
$darkpurple: #5A1F3E;
$orange: #B35E25;
$darkorange: #9B5220;
$yellow: #FFC000;
$darkyellow: #5A1F3E;
$green: #92D14F;
$darkgreen: #79AE41;

$lightgray: #F7F1FFBF;
$white: #F3F4F6;
$whitetrans: #f3f4f6ba;
$black: #333;
$boldblack: #000;

body {
  background: $white;
  font-family: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  &--bicentenario {
    width: 150px;
  }
}

.btn {
  padding: 15px 45px;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s;
  font-size: 14px;
  font-weight: 600;

  &--primary {
    background: $orange;
    text-align: center;
    color: $lightgray;
    
    &:hover {
      color: $white;
      background: $darkorange;
    }
  }

  &--secondary {
    background: $purple;
    text-align: center;
    color: $lightgray;

    &:hover {
      color: $white;
      background: $darkpurple;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  width: 100%;
}

.title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;

  &--normal {
    text-transform: initial;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
}

.header {
  padding: 20px 0;
}

.nav-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
  }

  &__el {
    margin: 0 30px;
  }

  &__image {
    width: 250px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__link {
    color: $black;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.8;
    transition: color 0.3s, font-weight .5s;

    &--active, &:hover {
      color: $boldblack;
      font-weight: 600;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.hero {
  text-align: center;
  padding: 130px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/foto.jpg');
  background-position: center;
  background-size: cover;

  &--sub {
    padding: 70px 0;
  }

  &--project {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/foto4.jpg');
    background-position: center -70px;
  }

  &--scraps {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/foto7.jpg');
    background-position: center;
  }

  &--impact {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/foto9.jpg');
    background-position: center;
  }

  &--resources {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/foto10.jpg');
    background-position: center;
  }

  &__container {
    width: 83%;
    margin: 0 auto;

    @media  (max-width: 768px) {
      width: 90%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: $white;
    opacity: 1;
    margin-bottom: 50px;
    padding: 0 50px;

    &--sub {
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 0;
    }

    @media  (max-width: 768px) {
      padding: 0;
      font-size: 24px;
    }
  }
}

.presentation {
  padding: 90px 0;
  text-align: center;
  &__container {
    position: relative;
    padding: 100px;

    @media  (max-width: 768px) {
      padding: 100px 70px;
    }
  }

  &__title {
    margin-top: -100px;
    width: 60%;
    margin: -100px auto 35px;
    color: $darkpurple;
  }

  &__video {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    iframe {
      width: 100%;
      max-width: 100%;
    }
  }

  &__video-img {
    height: 25px;
    margin-top: 15px;
    margin-bottom: -25px;
  }
}

.lines {
  &__el {
    position: absolute;
  }

  &--lt {
    top: 0;
    left: 20px;
  }
  &--lb {
    bottom: 0;
    left: 20px;
  }
  &--rt {
    top: 0;
    right: 20px;
  }
  &--rb {
    bottom: 0;
    right: 20px;
  }
}

.videos {
  background: $purple;
  text-align: center;
  padding: 100px 0;
  color: $white;

  &--white {
    background: $white;
    color: $black;
    padding: 70px 0 100px;
  }

  &--inner {
    background: $white;
    color: $black;
    text-align: left;
    padding: 70px 0 100px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__regions {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__region-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  &__region-iframe {
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 25vw;

    @media (max-width: 768px) {
      width: 90%;
    }

    iframe {
      max-width: 100%;
    }
  }
}

.gallery {
  margin: 0 auto;
  background: $purple;
  text-align: center;
  padding: 70px 0;
  
  &__title {
    margin-bottom: 24px;
    color: $white;
  }

  &__slide {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

  &__el {
    width: 325px;
    opacity: 0.9;
    transition: width 0.5s;
    transition-timing-function: ease-out;
    
    .glide__slide--active & {
      opacity: 1;
      width: 350px;
      z-index: 1;
    }
  }

  .glide__slides {
    align-items: center;
  }
}

.quote {
  text-align: center;
  background: $purple;
  color: $white;
  padding: 70px 0;

  &__text {
    font-weight: 500;
    font-style: italic;
    font-family: serif;
    font-size: 32px;
    opacity: 0.9;
  }
}

.region {
  &__title {
    margin-left: 10px;
  }
}

.partners {
  text-align: center;
  padding: 75px 100px;

  @media  (max-width: 768px) {
    padding: 75px 50px;
  }
  
  &__title {
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
  }

  &__subtitle {
    margin: 20px auto;
  }

  &__program {
    height: 100px;
    margin-bottom: 40px;
  }

  &__image {
    height: 60px;
    margin: 0 30px;
    @media  (max-width: 768px) {
      margin: 10px 30px;
    }
  }

  &__list {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.project {
  padding: 70px 0;

  &__row {
    padding: 30px 0;
    display: flex;
    align-items: center;

    @media  (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__text {
    line-height: 2rem;
  }

  &__picture {
    text-align: center;
    display: block;
    padding: 0 40px;
    
    @media  (max-width: 768px) {
      width: 100%;
      padding: 40px 0 0;
    }
  }

  &__img {
    height: 150px;
    min-width: 300px;
    max-width: 100%;
  }
}

.components {
  background: $purple;
  color: $white;
  padding: 70px 0;

  &__row {
    display: flex;
    text-align: center;
    padding: 50px 0 10px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__el {
    margin: 20px 40px;
    line-height: 2rem;
  }

  &__desc {
    border-top: 1px solid $whitetrans;
    padding-top: 1rem;
  }
}

.team {
  padding: 70px 0;

  &__list {
    margin: 30px 0;
    line-height: 2rem;
    display: flex;
    text-align: center;

    @media  (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__el {
    width: 33%;
    padding: 10px 16px;

    @media  (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__desc {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &__img {
    width: 40px;
  }
}

.technique {
  padding: 70px 0;

  &__data {
    line-height: 2rem;
    margin: 20px 0;
  }

  &__row {
    display: flex;
    align-items: center;

    @media  (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__picture {
    text-align: center;
    display: block;
    padding: 0 40px;
    
    @media  (max-width: 768px) {
      width: 100%;
      padding: 40px 0 0;
    }
  }

  &__img {
    height: 150px;
    min-width: 300px;
    max-width: 100%;
  }
}

.experience {
  background: $purple;
  padding: 70px 0;
  color: $white;
  line-height: 2rem;

  &__text {
    margin: 20px 0;
  }

  &__box {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    @media  (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  &__el {
    padding: 1rem 2rem;
    max-width: 250px;

    span {
      font-size: 1.5rem;
      font-weight: bold;
      display: block;
    }
  }
}

.impact {
  padding: 70px 0;
  background: #fff;

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    align-self: center;
  }

  &__map {
    width: 50%;
  }

  &__quantity {
    margin-left: -100px;
    z-index: 1;
    padding: 40px;
    line-height: 1.75rem;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
  }
}

.testimonials {
  padding: 40px 0;

  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &__el {
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(33% - 15px);
    text-align: center;

    &:nth-child(3n) {
      margin-right: 0;
    }

    @media  (max-width: 1024px) {
      width: calc(50% - 10px);

      &:nth-child(3n) {
        margin-right: 20px;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media  (max-width: 480px) {
      width: 100%;
      margin-right: 0;
    }

    iframe {
      min-width: 300px;
      width: 100%;
    }
  }
}

.resource {
  padding: 70px 0;

  &__tabs {
    margin: 30px 0;
  }

  &__symbol-img {
    width: 50px;
  }

  &__bloq {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__slide {
    width: 250px;
    margin: 10px 15px;
    display: inline-block;
    justify-content: center;
    opacity: 0.9;
    transition: opacity 0.3s;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }

  &__slide-img {
    width: 100%;
  }

  &__name {
    font-size: 14px;
    color: $black;
    display: inline-block;
    padding: 5px 0;
  }
}

.tabs {
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__el {
    margin: 0 20px;
    padding: 0 30px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.5s, border 0.3s;

    &--active {
      opacity: 1;
      border-bottom: 3px solid $purple;
    }
  }

  &__body {
    padding: 30px 10px;
  }

  &__body-el {
    display: none;

    &--active {
      display: block;
    }
  }
}

.symbol {
  text-align: center;
  flex-direction: column;

  &__title {
    margin: 20px 0;
    display: block;
  }
}

.footer {
  padding: 15px 0;
  background: $purple;
  text-align: center;
  color: $lightgray;
  width: 100%;
  font-size: 14px;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
